.headerSvg {
  animation: animeLoading 3s forwards;
}

@keyframes animeLoading {
  0% {
    stroke-opacity: 1;
    fill-opacity: 0;
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-opacity: 1;
    fill-opacity: 0;
    stroke-dasharray: 20 150;
    stroke-dashoffset: 20;
  }
  60% {
    stroke-opacity: 1;
    fill-opacity: 0;
    stroke-dasharray: 1000 1;
    stroke-dashoffset: 40;
  }
  100% {
    stroke-opacity: 1;
    fill-opacity: 1;
    stroke-dasharray: 1000 1;
    stroke-dashoffset: 50;
  }
}
